.panel {
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1),
    0 0 0 1px rgba(10, 10, 10, 0.02);
  padding-bottom: 12px;
}

.heading {
  background-color: #ededed;
  border-radius: 6px 6px 0 0;
  font-weight: 300;
  font-size: 1rem;
  padding: 0.75em 1em;
  margin: 0;
}

.headingEmoji {
  font-size: 30px;
  font-weight: bold;
}

.block {
  padding: 0.5em 0.75em;
  border-top: 1px solid #ededed;
}

.label {
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  margin-bottom: 0.5em;
}

.textarea {
  width: 100%;
  padding: 0.5em;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  font-size: 1rem;
  resize: vertical;
  box-sizing: border-box;
}

.textarea:focus {
  border-color: #485fc7;
  outline: none;
  box-shadow: 0 0 0 0.125em rgba(72, 95, 199, 0.25);
}
